 .dark-mode {
     --bs-body-bg: #291033;
     --bs-body-color: #e0e0e0;
     --bs-card-bg: #1e1e1e;
     --bs-card-color: #e0e0e0;
     --bs-primary: #66bfff;
     --bs-secondary: #999999;
     --bs-light: #1e1e1e;
     /* bg-light im Dark Mode */
     --bs-dark: #e0e0e0;
     /* text-dark im Dark Mode */
 }

 body {
     background-color: var(--bs-body-bg);
     color: var(--bs-body-color);
 }

 .card {
     background-color: var(--bs-card-bg);
     color: var(--bs-card-color);
 }

 /* bg-light / text-dark Utilities anpassen */
 .bg-light {
     background-color: var(--bs-light) !important;
 }

 .text-dark {
     color: var(--bs-dark) !important;
 }